<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Available Schedules</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/toysystem}">TOY Station</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/toyadmin}">Activity Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/new_activity}">New Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/activity_schedules}">All Activities</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h3> Available Activity Schedules </h3>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Activity Schedule Id</th>
      <th>Child Name</th>
      <th>Senior Name</th>
      <th>Activity</th>
      <th>Special Note</th>
      <th>Schedule Date</th>
      <th>Confirmation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="activitySchedule: ${listActivitySchedules}">
      <td th:text="${activitySchedule.activityschedule_id}"></td>
      <td th:text="${activitySchedule.childName}"></td>
      <td th:text="${activitySchedule.seniorName}"></td>
<!--      <td th:text="${activitySchedule.name}"></td>-->
      <div th:switch="${activitySchedule.name}">
        <td th:case="'Book Reading'" ><img width="100" th:src="@{images/bookreading.jpg}" /></td>
        <td th:case="'Ball Game'"><img width="100" th:src="@{images/ballgame.jpg}"/></td>
        <td th:case="'Puzzle'"><img width="100" th:src="@{images/puzzle.jpg}"/></td>
        <td th:case="'Origami'"><img width="100" th:src="@{images/origami.jpg}"/></td>
        <td th:case="'Drawing'"><img width="100" th:src="@{images/drawing.jpg}"/></td>
        <td th:case="*"><img width="100" th:src="@{images/bookreading.jpg}" /></td>
      </div>
      <td th:text="${activitySchedule.description}"></td>
      <td th:text="${activitySchedule.date}"></td>
      <td th:style="${activitySchedule.confirmed == 'confirmed'} ? 'background-color: #DAF8AE' : 'background-color:#ADD8E6'">
        <div th:if="${activitySchedule.confirmed != 'confirmed'}" >

          <form action=# th:action="@{/confirm_schedule}" >
            <input type ="submit" value="click to confirm">
          </form>
        </div>
<!--        <div th:if="${activitySchedule.confirmed == 'confirmed'}" th:style="'background-color: #DAF8AE'">-->
        <div>
        <span th:if="${activitySchedule.confirmed =='confirmed'}" > confirmed
     		</span>
        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>